doctype 
html(lang="en")
    head
        include includes/en/head.pug
    body
        .main-wrapper.about-page
            include includes/en/topnav.pug
            include includes/en/header.pug

            // banner part
            section(class='banner')
                div(class='container')
                    div(class='banner-content')
                        .row 
                            .col-5.col-lg-8
                            .col-7.col-lg-4
                                h2 about us
                                ul.navigation
                                    li 
                                        a(href="" class="") home 
                                            img(src="images/svg/arrow2.svg", alt="") 
                                        span about us
            // banner part

            // about part1
            section(class='first-about')
                div(class='container')
                    .row    
                        .col-lg-7 
                            div(class='first-about-text')
                                div(class='title')
                                    h2 about dr/samir-abdelghaffar
                                    p Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry Dummy Text Of The Printing.
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                                p specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                        .col-lg-5
                            div(class='first-about-image')
                                img(src="images/about/first-about.jpg", class="img-fluid", alt="")        
            // about part1

            // about part2
            section(class='about')
                div(class='container')
                    .row    
                        .col-lg-6 
                            div(class='about-images')
                                img(src="images/about/about1.png", class="about1 img-fluid", alt="")
                                img(src="images/about/about2.png", class="about2 img-fluid", alt="")
                                img(src="images/about/about3.png", class="about3 img-fluid", alt="")
                        .col-lg-6 
                            div(class='about-text')
                                div(class='title')
                                    h2 our medical places
                                    p Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry Dummy Text Of The Printing.
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                                p specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
            // about part2
            
            // insurence part
            section(class='insurence')
                div(class='container')
                    div(class='title')
                        h2 Our insurence places
                        p Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry Dummy Text Of The Printing.
                    div(class='row')
                        div(class='col-sm-6 col-md-6 col-lg-4')
                            div(class='insurence-box wow fadeInUp' data-wow-duration='1s')
                                div(class='space')
                                div(class='insurence-details')
                                    p Lorem Ipsum is simply dummy text of the
                        div(class='col-sm-6 col-md-6 col-lg-4')
                            div(class='insurence-box wow fadeInUp' data-wow-duration='1s')
                                div(class='space')
                                div(class='insurence-details')
                                    p Lorem Ipsum is simply dummy text of the
                        div(class='col-sm-6 col-md-6 col-lg-4')
                            div(class='insurence-box wow fadeInUp' data-wow-duration='1s')
                                div(class='space')
                                div(class='insurence-details')
                                    p Lorem Ipsum is simply dummy text of the
                        div(class='col-sm-6 col-md-6 col-lg-4')
                            div(class='insurence-box wow fadeInUp' data-wow-duration='1s')
                                div(class='space')
                                div(class='insurence-details')
                                    p Lorem Ipsum is simply dummy text of the
                        div(class='col-sm-6 col-md-6 col-lg-4')
                            div(class='insurence-box wow fadeInUp' data-wow-duration='1s')
                                div(class='space')
                                div(class='insurence-details')
                                    p Lorem Ipsum is simply dummy text of the
                        div(class='col-sm-6 col-md-6 col-lg-4')
                            div(class='insurence-box wow fadeInUp' data-wow-duration='1s')
                                div(class='space')
                                div(class='insurence-details')
                                    p Lorem Ipsum is simply dummy text of the
            // insurence part

            // naumbers part
            section(class='naumbers')
                div(class='container')
                    .row 
                        div(class='col-md-4 col-lg-4')
                            .numbers-box
                                .naumbers-icon 
                                    img(src="images/numbers/01.svg", class ="img-fluid", alt="")
                                .numbers-text 
                                    h3 Years Of Experiense
                                    span.the-numbers 25
                        div(class='col-md-4 col-lg-4')
                            .numbers-box
                                .naumbers-icon 
                                    img(src="images/numbers/02.svg", class ="img-fluid", alt="")
                                .numbers-text 
                                    h3 Medical Branches
                                    span.the-numbers 3
                        div(class='col-md-4 col-lg-4')
                            .numbers-box
                                .naumbers-icon 
                                    img(src="images/numbers/03.svg", class ="img-fluid", alt="")
                                .numbers-text 
                                    h3 Happy Clients
                                    span.the-numbers 600

            // naumbers part

            include includes/en/footer.pug
    include includes/en/scripts.pug