doctype 
html(lang="ar" dir="rtl")
    head
        include includes/ar/head.pug
    body
        .main-wrapper.forget-page
            include includes/ar/topnav.pug
            include includes/ar/header.pug

            // forget part
            section(class='forget-form')
                  div(class='container')
                        div(class='row')
                              div(class='col-lg-6')
                                    div(class='forget-image')
                                        img(src='images/bgs/register.jpg' class="img-fluid" alt='')
                              div(class='col-lg-6')
                                    div(class='forget-box')
                                          div(class='title')
                                                h2 Forget Password ?
                                          div(class='form-area')
                                                form(action='')
                                                    .row
                                                        div(class="col-lg-12")            
                                                            div(class='form-group')
                                                                input(placeholder='E-mail' class='form-control' type='email')
                                                        div(class="col-lg-12")               
                                                            div(class='form-group')
                                                                button(class='btn btn-danger hvr-sweep-to-top' type='submit') Reset now
            // forget part
            include includes/ar/footer.pug
    include includes/ar/scripts.pug