doctype 
html(lang="en")
    head
        include includes/en/head.pug
    body
        .main-wrapper.login-page
            include includes/en/topnav.pug
            include includes/en/header.pug

            // login part
            section(class='login-form')
                  div(class='container')
                        div(class='row')
                              div(class='col-lg-6')
                                    div(class='login-image')
                                        img(src='images/bgs/register.jpg' class="news-img img-fluid" alt='')
                              div(class='col-lg-6')
                                    div(class='login-box')
                                          div(class='title')
                                                h2 Login
                                          div(class='form-area')
                                                form(action='')
                                                    .row
                                                        div(class="col-lg-12")
                                                            div(class='form-group')
                                                                input(placeholder='Your Name' class='form-control' type='text')
                                                        div(class="col-lg-12")            
                                                            div(class='form-group')
                                                                input(placeholder='E-mail' class='form-control' type='email')
                                                        div(class="col-lg-12")               
                                                            div(class='remember')
                                                                .rem-check
                                                                    input(type='checkbox' name='rememberme' value='Bike')
                                                                    label(for='rememberme')  Remember me
                                                                .forget-pass    
                                                                    a(href="forget.html") Forget password ?     
                                                        div(class="col-lg-12")               
                                                            div(class='form-group')
                                                                button(class='btn btn-danger hvr-sweep-to-top' type='submit') Login
                                                        div(class="col-lg-12")               
                                                            div(class='have-account')
                                                                p Don’t have account? 
                                                                    a(class="signup-btn" href="register.html") Sign up
            // login part
            include includes/en/footer.pug
    include includes/en/scripts.pug