doctype 
html(lang="ar" dir="rtl")
    head
        include includes/ar/head.pug
    body
        .main-wrapper.news-articles-page
            include includes/ar/topnav.pug
            include includes/ar/header.pug

            // banner part
            section(class='banner')
                div(class='container')
                    div(class='banner-content')
                        .row 
                            .col-5.col-lg-8
                            .col-7.col-lg-4
                                h2 News& Articles
                                ul.navigation
                                    li 
                                        a(href="" class="") home 
                                            img(src="images/svg/arrow2.svg", alt="") 
                                        span News& Articles
            // banner part

            // News& articles part
            section(class='news-articles')
                div(class='container')
                    div(class='row')
                        div(class='col-md-6 col-lg-3')
                            div(class='news-articles-box wow fadeInUp' data-wow-duration='1s')
                                div(class='image')
                                    img(src='images/services/01.jpg' class="news-img img-fluid" alt='')
                                    .slug
                                        span Beauty
                                div(class='details')
                                    h3 dental services
                                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an 
                                    div(class='clickable')
                                        a(href='' class='btn hvr-sweep-to-bottom') Read post
                        div(class='col-md-6 col-lg-3')
                            div(class='news-articles-box wow fadeInUp' data-wow-duration='1s')
                                div(class='image')
                                    img(src='images/services/02.jpg' class="news-img img-fluid" alt='')
                                    .slug
                                        span Tips
                                div(class='details')
                                    h3 dental services
                                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an 
                                    div(class='clickable')
                                        a(href='' class='btn hvr-sweep-to-bottom') Read post
                        div(class='col-md-6 col-lg-3')
                            div(class='news-articles-box wow fadeInUp' data-wow-duration='1s')
                                div(class='image')
                                    img(src='images/services/03.jpg' class="news-img img-fluid" alt='')
                                    .slug
                                        span Beauty
                                div(class='details')
                                    h3 dental services
                                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an 
                                    div(class='clickable')
                                        a(href='' class='btn hvr-sweep-to-bottom') Read post
                        div(class='col-md-6 col-lg-3')
                            div(class='news-articles-box wow fadeInUp' data-wow-duration='1s')
                                div(class='image')
                                    img(src='images/services/04.jpg' class="news-img img-fluid" alt='')
                                    .slug
                                        span Tips
                                div(class='details')
                                    h3 dental services
                                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an 
                                    div(class='clickable')
                                        a(href='' class='btn hvr-sweep-to-bottom') Read post
                        div(class='col-md-6 col-lg-3')
                            div(class='news-articles-box wow fadeInUp' data-wow-duration='1s')
                                div(class='image')
                                    img(src='images/services/01.jpg' class="news-img img-fluid" alt='')
                                    .slug
                                        span Beauty
                                div(class='details')
                                    h3 dental services
                                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an 
                                    div(class='clickable')
                                        a(href='' class='btn hvr-sweep-to-bottom') Read post
                        div(class='col-md-6 col-lg-3')
                            div(class='news-articles-box wow fadeInUp' data-wow-duration='1s')
                                div(class='image')
                                    img(src='images/services/02.jpg' class="news-img img-fluid" alt='')
                                    .slug
                                        span Tips
                                div(class='details')
                                    h3 dental services
                                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an 
                                    div(class='clickable')
                                        a(href='' class='btn hvr-sweep-to-bottom') Read post
                        div(class='col-md-6 col-lg-3')
                            div(class='news-articles-box wow fadeInUp' data-wow-duration='1s')
                                div(class='image')
                                    img(src='images/services/03.jpg' class="news-img img-fluid" alt='')
                                    .slug
                                        span Beauty
                                div(class='details')
                                    h3 dental services
                                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an 
                                    div(class='clickable')
                                        a(href='' class='btn hvr-sweep-to-bottom') Read post
                        div(class='col-md-6 col-lg-3')
                            div(class='news-articles-box wow fadeInUp' data-wow-duration='1s')
                                div(class='image')
                                    img(src='images/services/04.jpg' class="news-img img-fluid" alt='')
                                    .slug
                                        span Tips
                                div(class='details')
                                    h3 dental services
                                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an 
                                    div(class='clickable')
                                        a(href='' class='btn hvr-sweep-to-bottom') Read post
                    .popup-articles
                        .container
                            .article-content
                                .exite-button
                                    span.ex 
                                .article-image 
                                    img(src='images/services/04.jpg' class="article-img img-fluid" alt='')      
                                .article-text 
                                    .slugs
                                        span(class="date") 
                                            i(class='fas fa-calendar-alt')
                                            | November 23, 2015
                                        span(class="medical")     
                                            a(href="") Medical Care
                                        span(class="health")       
                                            a(href="") Health
                                    p When was the last time you went out for a 30min walk? Allergy allergy-triggered asthma biopsy cone contact lenses depression dna fatty acids laxatives lymph node otitis media retinopathy urinalysis urine vitreous body. Allergy-triggered asthma blood bank blood type carbohydrate carbohydrate counting cardiologist cough diaphragm diarrhea ear canal epiglottis gingivitis histamine hyperglycemia immune system insulin insulin When was the last time you went out for a 30min walk? Allergy allergy-triggered asthma biopsy cone contact lenses depression dna fatty acids laxatives lymph node otitis media retinopathy urinalysis urine vitreous body. Allergy-triggered asthma blood bank blood type carbohydrate carbohydrate counting cardiologist cough diaphragm diarrhea ear canal epiglottis gingivitis histamine hyperglycemia immune system insulin insulin      
                                    
                                    h2 Copywriting: What’s branding got to do with it?
                                    p When was the last time you went out for a 30min walk? Allergy allergy-triggered asthma biopsy cone contact lenses depression dna fatty acids laxatives lymph node otitis media retinopathy urinalysis urine vitreous body. Allergy-triggered asthma blood bank blood type carbohydrate carbohydrate counting cardiologist cough diaphragm diarrhea ear canal epiglottis gingivitis histamine hyperglycemia immune system insulin insulin When was the last time you went out for a 30min walk? Allergy allergy-triggered asthma biopsy cone contact lenses depression dna fatty acids laxatives lymph node otitis media retinopathy urinalysis urine       
            // News& articles part
            
            include includes/ar/footer.pug
    include includes/ar/scripts.pug