doctype 
html(lang="en")
    head
        include includes/en/head.pug
    body
        .main-wrapper.services-page
            include includes/en/topnav.pug
            include includes/en/header.pug

            // banner part
            section(class='banner')
                div(class='container')
                    div(class='banner-content')
                        .row 
                            .col-5.col-lg-8
                            .col-7.col-lg-4
                                h2 services
                                ul.navigation
                                    li 
                                        a(href="" class="") home 
                                            img(src="images/svg/arrow2.svg", alt="") 
                                        span services
            // banner part

            // services page part
            section(class='services-inside')
                div(class='container')
                    .row    
                        .col-md-6.col-lg-4
                            .service-box
                                div(class='services-inside-icon')
                                    img(src="images/svg/services-icons/01.svg", class="img-fluid", alt="") 
                                div(class='services-inside-text')
                                    h2 Health check
                                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                        .col-md-6.col-lg-4
                            .service-box
                                div(class='services-inside-icon')
                                    img(src="images/svg/services-icons/01.svg", class="img-fluid", alt="") 
                                div(class='services-inside-text')
                                    h2 Health check
                                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                        .col-md-6.col-lg-4
                            .service-box
                                div(class='services-inside-icon')
                                    img(src="images/svg/services-icons/01.svg", class="img-fluid", alt="") 
                                div(class='services-inside-text')
                                    h2 Health check
                                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                        .col-md-6.col-lg-4
                            .service-box
                                div(class='services-inside-icon')
                                    img(src="images/svg/services-icons/01.svg", class="img-fluid", alt="") 
                                div(class='services-inside-text')
                                    h2 Health check
                                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                        .col-md-6.col-lg-4
                            .service-box
                                div(class='services-inside-icon')
                                    img(src="images/svg/services-icons/01.svg", class="img-fluid", alt="") 
                                div(class='services-inside-text')
                                    h2 Health check
                                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                        .col-md-6.col-lg-4
                            .service-box
                                div(class='services-inside-icon')
                                    img(src="images/svg/services-icons/01.svg", class="img-fluid", alt="") 
                                div(class='services-inside-text')
                                    h2 Health check
                                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
            // services page part

            // appointment part
            section(class='appointment')
                div(class='container')
                    .appointment-area
                        .row    
                            .col-lg-7
                                .appointment-text
                                    h2 need a doctor for check-up?
                                    p just make appointment and we will call you
                                    div(class='clickable')
                                        a(href='' class='btn hvr-sweep-to-right') Get an appointment 
                            .col-lg-5.p-0
                                .appointment-image
                                    img(src="images/doc1.png", class="img-fluid", alt="")
            // appointment part
            
            // naumbers part
            section(class='naumbers')
                div(class='container container-numbers')
                    .naumbers-content
                        .row 
                            div(class='col-md-4 col-lg-4')
                                .numbers-box
                                    .naumbers-icon 
                                        img(src="images/numbers/01.svg", class ="img-fluid", alt="")
                                    .numbers-text 
                                        h3 Years Of Experiense
                                        span.the-numbers 25
                            div(class='col-md-4 col-lg-4')
                                .numbers-box
                                    .naumbers-icon 
                                        img(src="images/numbers/02.svg", class ="img-fluid", alt="")
                                    .numbers-text 
                                        h3 Medical Branches
                                        span.the-numbers 3
                            div(class='col-md-4 col-lg-4')
                                .numbers-box
                                    .naumbers-icon 
                                        img(src="images/numbers/03.svg", class ="img-fluid", alt="")
                                    .numbers-text 
                                        h3 Happy Clients
                                        span.the-numbers 600
            // naumbers part

            include includes/en/footer.pug
    include includes/en/scripts.pug