doctype 
html(lang="en")
    head
        include includes/en/head.pug
    body
        .main-wrapper.videos-channel-page
            include includes/en/topnav.pug
            include includes/en/header.pug

            // banner part
            section(class='banner-videos')
                div(class='container')
                    div(class='banner-videos-content')
                        .banner-icon 
                            a(data-fancybox='' href='https://youtu.be/lM02vNMRRB0')
                                span(class='btn-video')
                                    img(src='images/svg/video-icon.svg' class="img-fluid" alt='')
                .banner-text
                    div(class='container')
                        h2 Check My Video Channel On Myclin TV
                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type                    
            // banner part

            // videos channel part
            section(class='videos-channel')
                div(class='container')
                    div(class='title')
                        h2 Check My Latest Videos
                        p Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry.
                    div(class='row')
                        div(class='col-md-6 col-lg-3')
                            div(class='videos-channel-box wow fadeInUp' data-wow-duration='1s')
                                div(class='image')
                                    img(src='images/services/01.jpg' class="vid-img img-fluid" alt='')
                                    .video-icon 
                                        a(data-fancybox='' href='https://youtu.be/lM02vNMRRB0')
                                            span(class='btn-video')
                                                img(src='images/svg/video-icon.svg' class="img-fluid" alt='')
                                div(class='details')
                                    h3 dental services
                                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                        div(class='col-md-6 col-lg-3')
                            div(class='videos-channel-box wow fadeInUp' data-wow-duration='1s')
                                div(class='image')
                                    img(src='images/services/02.jpg' class="vid-img img-fluid" alt='')
                                    .video-icon 
                                        a(data-fancybox='' href='https://youtu.be/lM02vNMRRB0')
                                            span(class='btn-video')
                                                img(src='images/svg/video-icon.svg' class="img-fluid" alt='')
                                div(class='details')
                                    h3 dental services
                                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                        div(class='col-md-6 col-lg-3')
                            div(class='videos-channel-box wow fadeInUp' data-wow-duration='1s')
                                div(class='image')
                                    img(src='images/services/03.jpg' class="vid-img img-fluid" alt='')
                                    .video-icon 
                                        a(data-fancybox='' href='https://youtu.be/lM02vNMRRB0')
                                            span(class='btn-video')
                                                img(src='images/svg/video-icon.svg' class="img-fluid" alt='')
                                div(class='details')
                                    h3 dental services
                                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                        div(class='col-md-6 col-lg-3')
                            div(class='videos-channel-box wow fadeInUp' data-wow-duration='1s')
                                div(class='image')
                                    img(src='images/services/04.jpg' class="vid-img img-fluid" alt='')
                                    .video-icon 
                                        a(data-fancybox='' href='https://youtu.be/lM02vNMRRB0')
                                            span(class='btn-video')
                                                img(src='images/svg/video-icon.svg' class="img-fluid" alt='')
                                div(class='details')
                                    h3 dental services
                                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                        div(class='col-md-6 col-lg-3')
                            div(class='videos-channel-box wow fadeInUp' data-wow-duration='1s')
                                div(class='image')
                                    img(src='images/services/01.jpg' class="vid-img img-fluid" alt='')
                                    .video-icon 
                                        a(data-fancybox='' href='https://youtu.be/lM02vNMRRB0')
                                            span(class='btn-video')
                                                img(src='images/svg/video-icon.svg' class="img-fluid" alt='')
                                div(class='details')
                                    h3 dental services
                                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                        div(class='col-md-6 col-lg-3')
                            div(class='videos-channel-box wow fadeInUp' data-wow-duration='1s')
                                div(class='image')
                                    img(src='images/services/02.jpg' class="vid-img img-fluid" alt='')
                                    .video-icon 
                                        a(data-fancybox='' href='https://youtu.be/lM02vNMRRB0')
                                            span(class='btn-video')
                                                img(src='images/svg/video-icon.svg' class="img-fluid" alt='')
                                div(class='details')
                                    h3 dental services
                                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                        div(class='col-md-6 col-lg-3')
                            div(class='videos-channel-box wow fadeInUp' data-wow-duration='1s')
                                div(class='image')
                                    img(src='images/services/03.jpg' class="vid-img img-fluid" alt='')
                                    .video-icon 
                                        a(data-fancybox='' href='https://youtu.be/lM02vNMRRB0')
                                            span(class='btn-video')
                                                img(src='images/svg/video-icon.svg' class="img-fluid" alt='')
                                div(class='details')
                                    h3 dental services
                                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                        div(class='col-md-6 col-lg-3')
                            div(class='videos-channel-box wow fadeInUp' data-wow-duration='1s')
                                div(class='image')
                                    img(src='images/services/04.jpg' class="vid-img img-fluid" alt='')
                                    .video-icon 
                                        a(data-fancybox='' href='https://youtu.be/lM02vNMRRB0')
                                            span(class='btn-video')
                                                img(src='images/svg/video-icon.svg' class="img-fluid" alt='')
                                div(class='details')
                                    h3 dental services
                                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
            // News& articles part
            
            include includes/en/footer.pug
    include includes/en/scripts.pug