//footer part
footer
    .container 
        .footer-content
            .footer-logo 
                a(href="index-ar.html")
                    img(src="images/logo.png", class="img-fluid", alt="") 
            .row 
                div(class="col-md-12 col-lg-4")
                    .footer-box
                        .about 
                            h3 about us
                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type  
                            a(href="about-ar.html" class="btn") Explore 
                                img(src="images/svg/arrow.svg", class="img-fluid", alt="")      
                div(class="col-6 col-md-4 col-lg-2")
                    .footer-box
                        h3 main
                        .main 
                            ul 
                                li
                                    a(href="index-ar.html") home       
                                li
                                    a(href="about-ar.html") about Us       
                                li
                                    a(href="services-ar.html") services       
                                li
                                    a(href="videos-ar.html") video Channel       
                                li
                                    a(href="news-ar.html") News& Articles       
                                li
                                    a(href="contact-ar.html") contact us       
                div(class="col-6 col-md-4 col-lg-3")
                    .footer-box
                        h3 our services
                        .services 
                            ul 
                                li
                                    a(href="") Dental Services       
                                li
                                    a(href="") Dental Services       
                                li
                                    a(href="") Dental Services       
                                li
                                    a(href="") Dental Services       
                                li
                                    a(href="") Dental Services       
                                li
                                    a(href="services-ar.html" class="btn") Explore 
                                        img(src="images/svg/arrow.svg", class="img-fluid", alt="")    
                div(class="col-sm-12 col-md-4 col-lg-3")
                    .footer-box
                        h3 contact us
                        .contact 
                            ul 
                                li  
                                    i(class='fas fa-map-marker-alt')
                                    span 555 Montgomery Street, Suite 1700San Francisco       
                                li  
                                    i(class='fas fa-phone-alt')
                                    span Call us 24/7
                                    a(href="") 01111111111       
                                li
                                    i(class='far fa-clock')
                                    span Mon -Fri: 8.00 - 20.00                         
                                    span St - Sun: 9.00 - 16.00                                  
        .copyright 
            .row 
                .col-md-6.col-lg-6 
                    .copy-text
                        p © Copyright 2020 Dr Variable. All Rights Reserved.
                .col-md-6.col-lg-6 
                    .copy-icons
                        ul 
                            li 
                                a(href="", target="_blank")
                                    i(class='fab fa-facebook-f') 
                            li 
                                a(href="", target="_blank")
                                    i(class='fab fa-twitter') 
                            li 
                                a(href="", target="_blank")
                                    i(class='fab fa-linkedin-in') 
                            li 
                                a(href="", target="_blank")
                                    i(class='fab fa-instagram') 
//footer part
